<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10572585588-cqr1d1n9cr6b620v61ap94n125ef92gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10572585588-cqr1d1n9cr6b620v61ap94n125ef92gs</string>
	<key>API_KEY</key>
	<string>AIzaSyA99Dxu8O1oojPEH8RJpAsoiDz8DyQ500k</string>
	<key>GCM_SENDER_ID</key>
	<string>10572585588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pratica.ios</string>
	<key>PROJECT_ID</key>
	<string>newagent-cc2fa</string>
	<key>STORAGE_BUCKET</key>
	<string>newagent-cc2fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10572585588:ios:a5314715529567df</string>
	<key>DATABASE_URL</key>
	<string>https://newagent-cc2fa.firebaseio.com</string>
</dict>
</plist>